body {
  margin-left: 30px;
}

table, th, td {
  border: 1px solid;
  text-align: center;
}

.container {
  display: flex;
}

.table-container {
  position: relative;
  margin-right: 20px;
  display: flex;
}

.map-container {
  position: absolute;
  left: 300px;
  flex: 1;
}

.info-container {
  position: absolute;
  top: 130px;
}